body {
    background: rgb(2,0,36);
    background: linear-gradient(75deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(6,84,170,1) 69%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}
.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input {
    border-radius: 5px;
    background-color: #d9d9ff;
    border: 1px solid black;
    height: 30px;
    font-family: "Rubik Wet Paint";
}
.btn {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1.5px solid black;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    font-family: "Rubik Wet Paint";
}
.result {
    display: block;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    font-family: "Rubik Wet Paint";
}